html

   head

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js", integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+", crossorigin="anonymous")

   body

      if info

         h1.alert.alert-info=info

      if warn

         h1.alert.alert-warning #{warn}

      form.mx-auto.border.border-primary.w-25.p-3(method="post")

         div.form-group

            label Username:

            input.form-control(type="text" name="username" placeholder=" Enter user name " value="demo")

         div.form-group

            label Password:

            input.form-control(type="password" name="password" value="demo")

         div.form-group

            input.btn.btn-primary(type="submit" value="Login")

